navbar-fixed-top.wrapper {
    width: 1290px;
    margin: 0 auto;
}

#bener{
background-repeat: no-repeat;
}
.bener_content{
    padding:195px 0;
    max-width:515px;
    color:#fff;
	margin-top:0px;

}
.bener_overlay{
	background: rgba(48, 107, 109, 0.60);
    height: 660px;

}
.bener_content h2{
    color:#ffff;
}
.bener_content p{
    color:#ffff;
}

#features
{
padding: 0px 0px 100px 0px;
}
.features_top{
    max-width:425px;
    padding:100px 0;
    margin:0 auto;
    color:#83a7a5;
}
.features_top h2{
    font-size:32px;
    color:#0f5f5c;

}
.features_top p{
    font-size:15px;
    color:#83a7a5;
}
#neww{
  padding: 0px 0px 100px 0px;

}



#new{
  padding: 0px 0px 100px 0px;
  	  background: rgba(	240,248,255,0.90);
}
.new_top{
  max-width:425px;
  padding:20px 0;
  margin:0 auto;
  color:#83a7a5;
}
.new_top h2{
    font-size:32px;
    color:#0f5f5c;

}
.new_top p{
    font-size:15px;
    color:#83a7a5;
}

.menu-scroll .main_menu .container-fluid {
    border-bottom: 0px solid transparent;
    padding-bottom:0px;
}
.container-fluid {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.navbar-default .navbar-brand {
    color: #fff;
  background-color: transparent;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}


.single_like{
    max-width:550px;
    padding:75px 0px;
}

.single_like h2{
    font-size:1.8rem;
    margin-bottom: 0;
    color:#0f5f5c;
}
.single_like p{
    font-size:15px;
    color:#83a7a5;
}
.single_like_btn{
    padding:80px 0px;
    text-align:center;
}
.footer_bottom{
    border-top:1px solid #ddd;
    padding-top:20px;
}

.single_footer_bottom p i{
	padding:0px 10px;
	color:#ff0000;
}
.single_footer_bottom p a{
	padding:0px 10px;
	color:#6fb048;
}
.best_features_bottom{
    padding: 20px 0px 0px 0px;
}
.single_features_bottom{
    margin-bottom: 0px;
    max-width:460px;
}
.single_features_bottom h2{
    font-size:16px;
    color:#0f5f5c;
}
.single_features_bottom h2 i{
    color: #6FB048;
    padding-right: 20px;
    font-size: 30px;
}

.single_features_bottom p{
    font-size: 14px;
    color:#83a7a5;
}
#pricing{
    padding: 100px 0px 70px 0px;
}

.pricing_top{
    max-width:500px;
    margin:0 auto;
    padding-bottom:40px;
}
.pricing_top h2{
    color:#0f5f5c;
    font-size:32px;
	font-family: 'robotolight';
}
.pricing_top p{
    color:#83a7a5;
    font-size:14px;
	font-family: 'robotoregular';
}
.pricing_tabel_contant .col-md-2 {
	padding:0
}
.single_pricing{
    border: 1px solid rgba(221, 221, 221, 0.55);
    padding: 30px;
}
.top_text{}
.top_text span{
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #6fb048;
    padding-bottom: 30px;
	font-family: 'robotomedium';
}
.top_text sub{
    display: block;
    font-size: 3.5rem;
    color: #0f5f5c;
    padding-bottom: 60px;
	font-family: 'montserratregular';
}
.top_text sup{
    display:block;
    font-size:14px;
    color:#0f5f5c;
}
.single_pricing ul{
    padding-top:20px;
}

.single_pricing ul li{
    font-size: 14px;
    color: #0f5f5c;
    line-height: 30px;
	font-family: 'robotolight';
}
.separator {
    height: 1px;
    width: 70px;
    margin:10px auto;
    background: #6FB048;
    margin-bottom: 40px;
}
.btn-sm{
	max-width:145px;
	max-height:45px;
	font-family: 'montserratregular';
}
.btn-sm, .btn-group-sm>.btn {
    border-radius: 0px;
}
.navbar-fixed-top.affix {background-color:#fff; }
.navbar-fixed-top.affix .navbar-default .navbar-nav a,.navbar-fixed-top.affix .navbar-default .navbar-brand{ color: #000; }
