/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 26, 2016, 2:03:02 PM
    Author     : Kamal
*/

span.error{
    color: red;
    float: left;
    font-size: 14px;
}
button.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: 4px;
    right: 0px;
    color: inherit;
}
.alert {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
span.multiselectFields{
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.file-upload{ position:relative;}
.file-upload input[type="file"]{position:absolute; top:0px; left:0px; opacity:0; }
.file-upload .btn{ width:40%; border-radius:3px; margin-bottom: 10px; margin-top: 5px; }
.jobseeker-cnt{ font-size: 18px; }
.jobseeker-cnt .row{  margin-bottom: 20px; margin-left: 20px; }
.jobseeker-cnt h4{ font-weight: 600; margin:0; }
.list-group-item {background-color: #ecf0f5;}
.box.box-primary {background-color: rgb(236, 240, 245);}



body {
  font-family: Arial, sans-serif;
	background: #ddd;
}

h1 {
	text-align: center;
	font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	margin: 50px 0;
}
